
.game {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 400px;
  position: relative;
  
  .gameOver {
    position: absolute;
    top: -10px;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255, .3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .stamp {
      transform: rotate(12deg);
      color: #555;
      font-size: 3rem;
      font-weight: 700;
      border: 0.25rem solid #555;
      display: inline-block;
      padding: 0.25rem 1rem;
      text-transform: uppercase;
      border-radius: 1rem;
      -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
      -webkit-mask-size: 944px 604px;
      mix-blend-mode: multiply;
      
    }
  }
}

.card {
  width: 30%;
  margin-left: 10px;
  margin-bottom: 10px;
}

$btn-color: #ff8b51;

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  
  .info {
    font-size: 1.1rem;
    color: $btn-color;
    font-weight: bold;
    padding: 0.5em 1.4em;
  }
}

.btn-container {
  display: flex;
  align-self: center;
}


.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $btn-color;
  border-radius: 0.6em;
  color: $btn-color;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  margin-left: 20px;
  padding: 0.5em 2.2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  
  background: {
    image: linear-gradient(45deg, $btn-color 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  
  transition: all 400ms ease-in-out;
  
  &:hover {
    color: #fff;
    outline: 0;
    background-position: 0;
  }
  
  &:focus {
    outline: 0;
  }
  
  &:disabled {
    cursor: default;
    // pointer-events: none;
    opacity: .5;
  }
}


