.popup {
  padding: 30px;
  max-height: 600px;
  overflow-y: scroll;
  position: relative;
  .close {
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
    font-weight: 700;
  }
}