.card {
  width: 115px;
  height: 170px;
  background: white;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: -4px 2px 11px -4px rgba(0,0,0,0.31);
  cursor: pointer;
  box-sizing: border-box;
  transition: all .1s ease-in;
  
  &:after {
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .1s ease-in;
    border: 2px solid  rgba(hotpink, 0);
  }
  
  &.selected {
    box-shadow: 0 2px 4px #70d1ff;
    transform: scale(1.04);
    
    &:after {
      border-color: #70d1ff;
    }
  }
  
  &.highlighted {
    box-shadow: 0 2px 4px hotpink;
    
    &:after {
      box-shadow: 0 0 0 2px red inset
    }
  }
}


.item {
  display: block;
  width: 50px;
  height: 20px;
  background: currentColor;
  margin-bottom: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: currentColor;
}

.circle {
  border-radius: 60px;
}

.romb {
  transform: skew(20deg);
}

.blue {
  color: #02a1e0;
}

.red {
  color: #6aa74b;
}

.green {
  color: #FF6B6B;
}

.solid {
  background: currentColor;
}

.empty {
  background: none;
}

.stripe {
  background-image: linear-gradient(45deg, currentColor 10%, transparent 10%, transparent 50%, currentColor 50%, currentColor 60%, transparent 60%, transparent 100%);
  background-size: 10px 10px;
  background-color: transparent;;
  border-color: currentColor;
}